@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 폰트 적용 */
.logo-font {
    font-family: 'WAGURITTF', sans-serif;
}

@layer base {
    :root {
        --background: 0 0% 100%; /* 기본 배경색 white */
        --foreground: 222.2 84% 4.9%;

        --scrollbar-track-color: #f1f1f1; /* 기본 스크롧 바 트랙(배경) 색 */
        --scrollbar-thumb-color: #cccccc; /* 기본 스크롧 바 핸들(바) 색 */

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 220, 14%, 96%; /* gray-10 */
        --secondary-hover: 220, 13%, 91%; /* gray-200 */
        --secondary-foreground: 0, 0%, 15%; /* neutral-800 */

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
    }

    .dark {
        --background: 0, 0%, 12%; /* 기본 배경색 #1E1E1E */
        --foreground: 240, 6%, 90%; /* gray-200 */

        --scrollbar-track-color: #3e3e3e; /* 다크 모드 스크롧 바 트랙(배경) 색 */
        --scrollbar-thumb-color: #8c8c8c; /* 다크 모드 스크롧 바 핸들(바) 색 */

        --primary: 210 40% 98%;
        --primary-foreground: 0, 0%, 100%;

        --secondary: 0, 0%, 15%; /* neutral-800 */
        --secondary-hover: 0, 0%, 9%; /* neutral-900 */
        --secondary-foreground: 0, 0%, 100%; /* white */

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 0, 0%, 25%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;

        --popover: 0, 0%, 15%;
        --popover-foreground: 210 40% 98%; /* 미사용 */
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* 가로 스크롤바 커스텀 (X) */
/* 스크롤바 기본 스타일 & 숨기기 */
.overflow-x-auto::-webkit-scrollbar {
    width: 7px; /* 스크롤바의 너비 */
    height: 3px; /* 스크롤바의 높이 (수평 스크롤바의 경우) */
    background: transparent; /* 배경 투명 */
}

.overflow-x-auto::-webkit-scrollbar-thumb {
    background: transparent; /* 핸들(바) 투명 */
}

/* 호버 시 스크롤바 스타일 & 표시 */
/* 호버 시 스크롤바 트랙(배경) 스타일 */
.overflow-x-auto:hover::-webkit-scrollbar-track {
    background: #f1f1f1; /* 트랙(배경) 색 */
}


/* 호버 시 스크롤바 핸들(바) 스타일 */
.overflow-x-auto:hover::-webkit-scrollbar-thumb {
    background: #cccccc; /* 핸들(바) 색 */
}

/* 호버 시 스크롤바 핸들(바)에 더 강한 호버 스타일 */
.overflow-x-auto:hover::-webkit-scrollbar-thumb:hover {
    background: #888888; /* 핸들(바) 색 */
}

/* */

/* 테마 변경 버튼 호버 애니메이션 */
.scale-right {
    transform-origin: left center;
}

.scale-left {
    transform-origin: right center;
}

/* 메모 수정 - shadcn Switch thumb 위치 조정 */
/* 부모 요소가 체크된 상태일 때 Thumb 위치 변경 */
[data-state='checked'] .thumb {
    transform: translateX(56px);
}

/* 부모 요소가 체크되지 않은 상태일 때 Thumb 위치 */
[data-state='unchecked'] .thumb {
    transform: translateX(0px);
}

.language-marmaid {
    display: flex !important;
    justify-content: center !important;; /* 가로 중앙 정렬 */
    align-items: center !important;; /* 세로 중앙 정렬, 필요한 경우 */
}

/* Q&A / MyBolg-about 커스텀 모나코 에디터 css */
.question_comment_css .monaco-editor {
    outline: none;
    overflow: hidden; /* 둥근 모서리와 함께 overflow 발생 시 숨김 */
}

.question_comment_css .monaco-editor .scroll-decoration {
    display: none;
}

/* 포스트 점프링크  */
[id^='heading'] {
    padding-top: 90px; /* 원하는 여백 크기 */
}


/* 포스트 점프링크 세로 스크롤바 커스텀 (Y) */
/* 스크롤바 기본 스타일 & 숨기기 */
.overflow-y-auto::-webkit-scrollbar {
    width: 2px; /* 스크롤바의 너비 */
    background: transparent; /* 배경 투명 */
}

.overflow-y-auto::-webkit-scrollbar-thumb {
    background: transparent; /* 핸들(바) 투명 */
}

/* 호버 시 스크롤바 스타일 & 표시 */
/* 호버 시 스크롤바 트랙(배경) 스타일 */
.overflow-y-auto:hover::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* 위의 정의한 트랙(배경) 색 */
}


/* 호버 시 스크롤바 핸들(바) 스타일 */
.overflow-y-auto:hover::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color); /* 위의 정의한 핸들(바) 색 */
}

/* 호버 시 스크롤바 핸들(바)에 더 강한 호버 스타일 */
.overflow-y-auto:hover::-webkit-scrollbar-thumb:hover {
    background: #888888; /* 핸들(바) 색 */
}

/* */

/* 내 블로그 소개 탭 react-avatar 크기 css */
/* 디스플레이 420px 이하 */
.avatar-size {
    width: 100%; /* 기본 크기 */
    height: 75vw; /* 기본 크기 */
}

.profile_css {
    display: flex;
    flex-direction: column;
}

.profile_edit {
    margin-left: 0px;
}

/* 디스플레이 420px 이상 */
@media (min-width: 520px) {
    .avatar-size {
        width: 280px; /* 부모 요소에 대해 50% 크기 */
        height: 280px; /* 높이를 자동으로 조절하여 비율 유지 */
    }

    .profile_css {
        display: flex;
        flex-direction: row;
    }

    .profile_edit {
        margin-left: 20px;
    }
}


/* 질문 상세페이지 - 답변 작성 시 에디터 사이즈 조절 마우스 핸들 */
.resize-handle {
    @apply absolute w-1 h-3 bottom-[12.5px] right-[7px] cursor-s-resize;
    background-color: transparent;
}

.resize-handle::before,
.resize-handle::after {
    content: '';
    position: absolute;
    background-color: #9ca3af;
    border-radius: 0.125rem;
}

/* 위 */
.resize-handle::after {
    width: 0.1rem;
    height: 1rem;
    transform: rotate(45deg);
    bottom: -0.7rem;
    right: 0;
}

/* 아래 */
.resize-handle::before {
    width: 0.1rem;
    height: 0.5rem;
    transform: rotate(45deg);
    bottom: -0.7rem;
    right: -0.15rem;
}
